@import "../../../Sass/mixin";

.check_out {
  width: 100%;
}

.bar {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: var(--bg-2);
  z-index: 100;
}



.progress_bar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.line {
  position: relative;
  width: 60%;
  height: 2px;
  color: var(--text);
  // background: linear-gradient(to right,
  //     red 45%,
  //     green 0%);
  background-color: black;
  transition: var(--transition);
  transform: translateY(9px);
}

.light_line {
  background-color: white;
}

.green_line {
  background: linear-gradient(to right,
      rgba(22, 173, 48, 0.651) 50%,
      rgb(255, 255, 255) 0%);

  &>div .one {
    border-color: green !important;
    background-color: green !important;
  }
}






.completed {
  background: unset;
  background-color: hsla(130, 100%, 51%, 0.651) !important;

  &>div:not(:last-child) div:nth-child(2) {
    border-color: green !important;
    background-color: green !important;
  }
}

.ConfirmPayment {
  background: linear-gradient(to right,
      rgba(22, 173, 48, 0.651) 50%,
      rgb(255, 255, 255) 0%);

  // background-color: hsla(61, 88%, 54%, 0.849) !important;
  &>div:nth-child(2) div:nth-child(2) {
    border-color: hsla(61, 96%, 68%, 0.932) !important;
    background-color: hsla(61, 96%, 68%, 0.932) !important;
  }
}

.paymentDone {
  background: unset;
  background-color: hsla(130, 100%, 51%, 0.651) !important;

  &>div:not(:last-child) div:nth-child(2) {
    border-color: green !important;
    background-color: green !important;
  }
}

.done {
  background: unset;
  background-color: hsla(130, 100%, 51%, 0.651) !important;

  &>div div:nth-child(2) {
    border-color: green !important;
    background-color: green !important;
  }
}





.line>div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.line>div:nth-child(1) {
  left: -47px;
  top: -47px;
}

.line>div:nth-child(3) {
  right: -35px;
  top: -47px;
}

.line>div:nth-child(2) {
  right: 45%;
  top: -47px;
}

.line>div div:nth-child(2) {
  color: black;
}


.line>div>:nth-child(2) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid red;
  z-index: 10;
  background-color: white;
}

.one,
.two,
.three {
  transition: var(--transition);

  img {
    width: 20px;
    height: 100%;
  }
}


.PaymentMethod {
  position: fixed;
  width: 100%;
  height: 6.5rem;
  margin-top: 5rem;
  background-color: var(--bg-2);
  z-index: 10000;
  padding-top: 1rem;
}

.methods {
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  width: 80%;
  margin-top: .3rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px 26px black;
  padding: .2rem 0;

  .choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &>div label {
      padding-left: .5rem;
    }

    .cash {}

    .master {}
  }

  .master_card {
    img {
      width: 60px;
      height: 60px;
      max-width: 100%;
    }
  }
}

.methods_dark {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
}





.Forms {
  width: 95%;
  margin: auto;
  padding-top: 5rem;
}

.form {
  display: inline-block;
  width: 70%;
  margin: 2rem auto;
  box-shadow: 1px 1px 26px black;
  padding: 2rem;

  @include breakepoints(mobile) {
    width: 90%;
  }
}

.form_dark {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
}

.forms_grid {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  padding-bottom: 2rem;
}

.info_text {
  margin-bottom: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  position: relative;
  width: fit-content;
  margin: 0 auto 1rem;
  padding-inline: 2rem;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 30%;
    // transform: translateY(500%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: linear-gradient(to right,
        var(--main-color),
        var(--main-color-2));
    animation: rotate_ball 1s infinite alternate ease;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }

}



.personal_info {
  &::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    bottom: 0;
    transform: translateX(50%);
    right: 50%;
    background: linear-gradient(to right,
        var(--main-color),
        var(--main-color-2));
  }
}

.half_width {
  display: flex;
  gap: 1rem;

  @include breakepoints(mobile) {
    flex-direction: column;
  }

}

.half_width>div {
  flex-grow: 1;
}

.half_width>div input {
  width: 100%;
}


.full_width {
  input {
    width: 100%;
  }
}


.contact_info {
  h3 {
    margin-top: 1.5rem;
  }
}


.control {
  margin-bottom: 0.5rem;
}

.control label {
  margin-bottom: 0.25rem;
  display: block;
  text-align: left;
  font-size: .8rem;
  font-style: italic;

}

.control p {
  text-align: left;
  font-size: small;
  line-height: 1.4;
  font-style: italic;
  text-transform: lowercase;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 100%;
  transition: var(--transition);
  padding-inline: 10px;

  &:focus {
    border-color: var(--main-color-2);
    outline: 1px;
  }
}

.cash_delivry {
  display: inline-block;
  width: 70%;
  height: 300px;
  margin: 12rem auto 0;


  .text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h5 {
      font-weight: lighter;
      letter-spacing: 1px;
      font-size: 1.2rem;
    }
  }
}



.action button {
  display: inline-block;
  cursor: pointer;
  background-color: var(--main-color-2);
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  transition: var(--transition);
  width: fit-content;
  margin: 0 auto;
  color: white;
  letter-spacing: 1px;
}

.dark {
  // background-color: var(--text) !important;
}

.action button:hover,
.action button:active {
  background-color: var(--main-color);
  color: black;
  transform: scale(1.1);
}



.invalid label {
  color: #ca3e51 !important;
}

.invalid input {
  border-color: #aa0b20 !important;
  background-color: #ffeff1 !important;
}


@keyframes rotate_ball {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}